@use "icons";


#call-button--icon {
    @include icons.prepend("phone") {
        width: 100px;
    }
}

#top-row {
    margin: 20px 15px;
    display: grid;
    grid-template-columns: 1fr 32px 53px;
    grid-template-rows: 70px, 47px;
    gap: 11px 20px;
    height: 168px;
}

#home-link {
    grid-area: 1 1 1 1;
}

#specifics-nav {
    display: contents;
}

#support-button, #contact-button {
    display: none;
}

#call-button {
    grid-area: 1 2 1 2;
    font-size: 32px;
}

#hamburger-button {
    grid-area: 1 3 1 3;
}

#search-form {
    grid-area: 2 1 2 3;
}


@media (min-width: 768px) {
    #top-row {
        height: 100px;
    }
}
