#top-row {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

#top-logo {
    object-fit: contain;
}

#call-button--icon {
    @include insert-icon-if-bitmap("call") {
        width: 100px;
    }
}