@use "icons";


#top-row {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

#top-logo {
    object-fit: contain;
}

#call-button--icon {
    @include icons.prepend("phone") {
        width: 100px;
    }
}
