@use "sizes";


#articles {
    text-align: left;
}

#articles h1 {
    font-size: sizes.$articles__h1;
    line-height: 1.1;
    font-weight: 600;
}

#welcome-to-netmatters p {
    line-height: 1.875rem;

    &:first-of-type {
        font-weight: 600;
    }
}
