@use "fonts/icon";
@use "sizes";


#services-nav {
    font-size: sizes.$services-nav;
    line-height: 1;
}

#services-nav a::before {
    font-size: sizes.$services-nav--icon;
}

.services-nav--first-word {
    font-size: sizes.$services-nav--first-word;
}


#services-nav__bespoke-software {
    @include icon.prepend("laptop") {
        font-size: 50px;
    }
}
