$call-button--icon: 27px;
$search-form--bar: 14px;
$search-form--button: 20px;
$menu-button--icon: 35px;

$services-nav: 1.125rem;
$services-nav--icon: 1.438rem;
$services-nav--first-word: 0.625rem;

$services__h1: 2.7rem;
$services__h2: 1.3rem;

$articles__h1: 2.25rem;
