$black: rgb(0%, 0%, 0%);
$dark_grey: rgb(20%, 21%, 27%);
$darker_grey: rgb(13%, 14%, 19%);
$white: rgb(100%, 100%, 100%);

$light-grey: rgb(40%, 50%, 62%);
$light-blue: rgb(25%, 51%, 84%);
$green: rgb(18%, 80%, 44%);
$murky-red: rgb(84%, 27%, 25%);
$purple: rgb(57%, 44%, 69%);
$reddish-magenta: rgb(96%, 14%, 35%);
$murky-orange: rgb(81%, 25%, 15%);
