$black: rgb(0%, 0%, 0%);
$dark_grey: rgb(20%, 21%, 27%);
$darker_grey_1: rgb(15%, 16%, 21%);
$darker_grey_2: rgb(13%, 14%, 19%);
$darker_grey_3: rgb(7%, 7%, 9%);
$darkish_grey: rgb(33%, 33%, 33%);
$deep_light_blue: rgb(9%, 42%, 96%);
$gold: rgb(97%, 70%, 13%);
$green: rgb(18%, 80%, 44%);
$light_blue: rgb(25%, 51%, 84%);
$light_grey: rgb(40%, 50%, 62%);
$lighter_blue: rgb(26%, 53%, 96%);
$lighter_grey_1: rgb(80%, 80%, 80%);
$lighter_grey_2: rgb(83.25%, 83.25%, 83.25%);
$lighter_grey_3: rgb(90%, 90%, 90%);
$mid_dark_grey: rgb(60%, 60%, 64%);
$mid_grey: rgb(53%, 53%, 53%);
$murky_green: rgb(0%, 61%, 41%);
$murky_orange: rgb(81%, 25%, 15%);
$murky_red: rgb(84%, 27%, 25%);
$paler_green: rgb(0%, 71%, 48%);
$purple: rgb(57%, 44%, 69%);
$reddish_magenta: rgb(96%, 14%, 35%);
$white: rgb(100%, 100%, 100%);
