@use "../layout/breakpoints";
@use "defs";


#call-button {
    color: defs.$dark_grey;
}

#search-form {
    background-color: defs.$lighter_grey_3;
    @include breakpoints.b { background-color: defs.$white; }
    border-color: defs.$lighter_grey_1;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px defs.$lighter_grey_2;

    &--bar {
        background-color: inherit;
        color: defs.$darkish_grey;
        &::placeholder {color: defs.$mid_grey; }
    }

    &--button {
        background-color: inherit;
        color: defs.$dark_grey;
    }
}

#search-form--bar {
    border-color: defs.$lighter_grey_1;
}

#search-form--button {
    @include breakpoints.b { background-color: defs.$mid_dark_grey; }
}

#menu-button {
    background: defs.$dark_grey;
}
