@use "breakpoints";


#articles {
    margin-top: 44px;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;

    @include breakpoints.c {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
    }
}

#articles h1 {
    margin-bottom: 40px;
}

#articles p {
    margin-bottom: 25px;
}

#articles footer {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 17px 10px;
}

#welcome-to-netmatters footer a {
    padding: 11px 31px;
}

#what-our-clients-think footer a {
    padding: 10px 30px;
}
