@use "breakpoints";


$_min_padding: 15px;

$_total_min_padding: $_min_padding * 2;


@function _pad_width($width) {
    // Resulting width may end up lower (padded) to ensure 15px margin. This is mainly to combat 
    // the horizontal space the scroll bar takes up on small zoomed-out screens.

    @return min(100% - ($_total_min_padding), $width);
}


#top-row, #services-nav ul, #services, #articles, #news, #socials-and-text-links, #copyright {
    width: _pad_width(720px);
    @include breakpoints.c { width: _pad_width(940px); }
    @include breakpoints.d { width: _pad_width(1170px); }

    margin-left: auto;
    margin-right: auto;
}


#top-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

#copyright {
    display: block;
}
