@use "breakpoints";


#socials-and-text-links h2 {
    margin-bottom: 26px;
}

#text-links-outer-list {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 100%;
    align-items: start;
    justify-items: start;

    @include breakpoints.b {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
    }

    @include breakpoints.c{
        grid-template-rows: auto;
        grid-template-columns: repeat(4, 1fr);
    }
}

#text-links-outer-list ul {
    margin-bottom: 30px;
}