#services-nav ul {
    display: flex;
    height: 100%;
}

#services-nav li {
    display: contents;
}

#services-nav a {
    flex: 1;
    margin: auto;
}

.services-nav--first-word {
    display: block;
    margin-top: 10px;
    margin-bottom: 1px;
}