@use "breakpoints";


#top-row {
    display: grid;
    gap: 11px 20px;

    grid-template-rows: 70px 47px;
    grid-template-columns: 1fr 32px 63px;
    grid-template-areas:
        "logo call menu"
        "search search search";

    @include breakpoints.b {
        grid-template-rows: 70px;
        grid-template-columns: 1fr 174px 63px;
        grid-template-areas: "logo search menu";
    }

    @include breakpoints.c {
        grid-template-columns: 1fr 143px 150px 63px 63px;
        grid-template-areas: "logo support contact search menu";
    }

    @include breakpoints.d {
        grid-template-columns: 1fr 143px 150px 303px 63px;
    }
}

#home-link {
    display: contents;
}

#home-link--logo {
    grid-area: logo;
    justify-self: start;
    width: min(100% + 5px, 402px);
    height: auto;
}

#specifics-nav {
    display: contents;
}

#support-button, #contact-button {
    display: none;
}

#call-button {
    display: contents;
    @include breakpoints.b { display: none; }
}

#call-button--icon {
    grid-area: call;
}

#search-form {
    grid-area: search;
    height: 100%;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    display: flex;
}

#search-form--bar {
    width: 100%;
    border: none;
    padding-left: 15px;
}

#search-form--button {
    border: none;
    margin-right: 11px;
}

#menu-button {
    grid-area: menu;
    display: flex;
    height: 56px;
    width: 100%;
    border-radius: 3px;
}
