@use "sass:map";


$icons: ("call": "\E902");


@mixin insert-icon-if-bitmap($icon-name) {
    &::before {
        visibility: visible;
        font-family: icomoon;
        content: map.get($icons, $icon-name);
        @content
    }
}
