*, *::before, *::after {
    // Different browsers supposedly render borders differently. This could be more noticeable
    // if border-box didn't reduce the impact on overall page layout.
    box-sizing: border-box;
}

* {
    // Different browsers supposedly disagree about these.
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

body {
    // Browser-specific tweaks.
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // Different browsers supposedly have unique line-height calculations.
    line-height: calc(1em + 0.5rem);
}

img, picture, video, canvas, svg {
    // Some browsers supposedly cause issues with extra spacing below inline-blocks.
    display: block;
}

input, button, textarea, select {
    // Some browsers supposedly have specific styles for these items.
    font: inherit;
}
